{% extends 'layout.html' %}
{% block content %}
    <div class="about-page">
        <h1>
            ABOUT WEATHERGO
        </h1>
        <div class="content">
            <div class="article">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt dolorem doloribus architecto illo hic! Facere dolorem quis repudiandae, obcaecati ducimus ipsum ipsa, vero dignissimos culpa, provident aperiam laudantium atque.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique itaque voluptas pariatur corrupti deleniti, dolores nostrum? Blanditiis corporis sequi nihil maiores delectus adipisci obcaecati, minima facilis, aliquam officia enim ratione?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga repellat inventore hic accusantium quis dolorem consectetur blanditiis nam iste fugiat aperiam amet asperiores, neque recusandae ea odio libero illum nihil.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla id ipsam nihil laboriosam ad non voluptas saepe aperiam, officia commodi, modi, rem est! Laudantium quia illum placeat culpa delectus doloribus.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi facilis molestiae eos blanditiis enim soluta, recusandae libero perspiciatis debitis inventore tenetur quo ea voluptas earum officiis dolor consequuntur iste praesentium.lorem
                    
                </p>
                <p class="stdout">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ullam, iure commodi eos aliquid vitae esse cumque, rerum eum accusamus, facilis eveniet? Commodi, odit? Beatae numquam sunt assumenda doloribus quis.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error odio iste non? Nisi dolorem quaerat hic dolore, maiores quidem impedit similique mollitia magni explicabo saepe autem accusantium itaque inventore natus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit quas iure optio voluptate? Officia accusantium aliquid quibusdam voluptatum temporibus, quos iusto eligendi suscipit aliquam beatae perspiciatis numquam possimus aperiam.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae natus illum magni, sit eos suscipit nulla, facilis laboriosam aliquid minus sequi! Ipsum animi aliquam, aut nesciunt cupiditate ipsam? Facilis, ad.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nesciunt minima facilis quidem obcaecati veniam pariatur sequi aperiam praesentium modi natus consequuntur at molestiae architecto excepturi necessitatibus mollitia sit fugit!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}