{% extends 'layout.html' %}
{% block content %}
 <div class="about_w">
     <div class="about_w_header">
         <h1>About Weather</h1>
     </div>
     <div class="about_w_content">
         <article>
             <p>
                 <span class="dropCap">WeatherGo</span> is an app designed to get weather information from locations around the world.
             </p>
             <p>It uses open weather map API to get weather data. Its a simple app that allows its users to get weather information at any time anywhere </p>
             <p>This app was developed by;</p>

         </article>
        <div class="about_w_bio">
            <!-- gertrude -->
            <div class="about_w_bio_data">
                <div class="about_w_bio_img">
                    <img src="{{url_for('static', filename='img/gert.jpg')}}" alt="">
                </div>
                <div class="about_w_bio_text">
                    <p class="bio_name">Gertrude</p>
                    <p>Tech enthusiast, music lover, front-end developer, UI & UX expert</p>
                </div>
            </div>
            <!-- /gertrude -->
            <!-- Inno -->
            <div class="about_w_bio_data">
                <div class="about_w_bio_img">
                    <img src="" alt="Innocent">
                </div>
                
                <div class="about_w_bio_text">
                        <p class="bio_name">Innocent Divine Kwasitse </p>
                        <p>
                            Electronics expert, full-stack developer, hardware expert
                        </p>
                </div>
            </div>

            <!-- /inno -->
            <!-- John -->
            <div class="about_w_bio_data">
                    <div class="about_w_bio_img">
                        <img src="{{url_for('static', filename='img/john.jpg')}}" alt="">
                    </div>
                    <div class="about_w_bio_text">
                        <p class="bio_name">
                            John Bledua aka JohnLyrics
                        </p>
                        <p>
                           
                            "Developing knowledge in computer programming, skilled in hardware, networking and sound engineering .
                            Looking forward to a carrier in cyber security."
                        </p>
                    </div>
                </div>

            <!-- /John -->
            <!-- Prince -->
            <div class="about_w_bio_data">
                    <div class="about_w_bio_img">
                        <img src="" alt="Prince">
                    </div>
                    <div class="about_w_bio_text">
                        <p class="bio_name">
                            Prince Nyamadi
                        </p>
                        <p>programmer</p>
                    </div>
                </div>
            <!-- /Prince -->

        </div>
     </div>
 </div>
{% endblock content %}