<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css')}}">
    <title>Weather Go </title>
</head>
<body>
    <header class="header-main">
        <nav class="nav">
            <div class="logo">
                <a href="{{url_for('index')}}">
                        <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo of weather go" class="logo-img">
                </a>
                

            </div>
            <div class="list-items right">
                <ul>
                    <li class=""><a href="{{url_for('about')}}">ABOUT</a></li>
                    <!-- <li><a href="#">SIGN UP</a></li>
                    <li><a href="#">LOGIN</a></li> -->
                </ul>
            </div>
            <div class="clearfix"></div>
            <main class="main-page">
               {% block content %}
               {% endblock %}
            </main>
        </nav>
    </header>
    <script src="{{url_for('static', filename='fontawesome/js/all.js')}}"></script>
</body>
</html>