*{
    padding:0;
    margin:0;

}
@font-face {
    font-family: "bauhaus";
    src: url("BauhausRegular.ttf");
         
  }
  body{
      font-family: bauhaus;
      background-image: url("img/cloud.jpg");
      background-repeat: no-repeat;
      background-size: 120%;
     
  }
.logo{
    /* background-color:#323234; */
    display: inline;
    margin-left:2em;
    margin-top:2em;

}

.logo h1{
    display:inline;
    /* color:#fff; */
}

.nav .list-items{
    display:inline-block;
    float:right;
    margin-right:2em;
}

.nav .list-items ul li{
    display:inline-block;
    list-style-type: none;
    padding:.2em;
}

.nav .list-items ul li a{
    text-decoration: none;
    

}
.nav .list-items ul li a:visited,.nav .list-items ul li a:active{
    color:#cccccc;
}

.nav .list-items ul li a:hover{
    color:#ffffff;
}
.main-page{
    
}

.main-page .msg{
    text-align:center;
    margin-top:9em;
    font-family: bauhaus;
    color:#ccc;
}
.main-page .msg h1{
    font-size:400%;
}
.main-page .msg h4{
    font-size:200%;
}

.main-page .msg h5{
    font-size:150%;
}

.search{
    margin-top:3em;
}

.search input{
    padding:.4em;
    display: block;
    margin:0 auto;
   
    
}

.search .seaInp{
    border-radius:5px;
    border-style:none;
    border-bottom:2px solid #6ACBE8;
    width:15em;
    background-color:transparent;
    font-size:120%;
}

.search .go{
    margin-top:0.7em;
    width:3em;
    border-radius:5px;
    border-style:none;
    cursor:pointer;
    font-size:120%;
    color:white;
}
.search input[placeholder]{
    color:#ccc;
}

/* input and anchor animations */

.search .seaInp:focus{
    outline:none;
    border-bottom:3px solid #6ACBE8;
    /* background-color:#ccc; */
}

.search .go{
    background-color:#6ACBE8;
    color:#fff;
    /* font-size:140%; */
   
}

.search .go:hover{
    /* box-shadow: 1px -1px 1px  #fff; */
}

input:focus{
    outline-offset: 0;
}

.loc{
    font-size:300%;
    padding:1em;
    color:#cccccc;
}
.ref-time{
    font-size:40%;
    color:#ccc;
}
.weather-icon{
   text-align:center;
   color:#cccccc;
}

.weather-icon-img{
    
}
.weather-icon-img img{
   
}

.temp{
    font-size:350%;
    color:#cccccc;
}

.weather-info{
    width:10em;
    height:10em;
    float:left;
    text-align:center;
    /*box-shadow:1px 2px 2px 1px #ccc;*/
    margin:.5em .5em;
    background-color:#cccccc;
    color:#000000;
}
.conditions{
    /* text-align:center; */
    /* display: inline; */
    /* width:100%; */
    margin-top:3em;
    margin-left:9em;
   /*  padding-left:7em; */
    color:#000000;
}


.nav .logo{
  width:3em;
  height:2em;
  overflow: hidden;
}

.nav .logo-img{
    width:7em;
    height:3em;
}



/* i{
    display:block;
    font-size:150%;
} */

.font_awesome{
    font-size:250%;
    display: block;
    padding:.5em;
}

.list-items ul li a {
    
}

.about-page{
    text-align:justify;
    padding:5em;
}
.about-page h1{
    font-size:350%;
    text-align:center;
    color:#cccccc;
}
.about-page .content{
    background-color:#ffffff;
    margin-top:1em;
    padding:2em;

}
.about-page .content .article p{
    line-height: 1em;
    padding:10px;
}
.about-page .content .article .stdout{
    border-left:5px solid yellow;
}

.error{
    text-align:center;
    color:red;


}

.footer{
    clear:both;
    color:#ccc;
    text-align: center;
    margin-top:2em;
}


/* fone size */

@media only screen and (max-width: 600px) {
    body{
        background-attachment: fixed;
        height:100vh;
        background-size: cover;
        object-fit: cover;
    }
    .logo{
        /* text-align: center; */
    }
    .main-page .msg{
        margin-top:4em;
    }
    .main-page .msg h1{
        font-size:320%;
    }
    .main-page .msg h4{
        font-size:150%;
    }
    .main-page .msg h5{
        font-size:120%;
    }

    .search{
        margin-top:5em;
    }
    .loc{
        font-size:250%;
        /* padding:1em; */
        color:#cccccc;
        text-align:center;
    }
    .weather-icon{
        text-align:center;
        color:#cccccc;
     }
     .temp{
        font-size:450%;
        color:#cccccc;
    }

    .weather-info{
      width:90vw;
    clear: both;
    margin:.4em .75em;
    height:5em;
    /* margin-top:1.5em; */
    text-align:justify;
    display:inline-block;
    border-radius: 9px;
       
    }

    .conditions{
     
        margin:3em 0;
       
       /*  padding-left:7em; */
        color:#000000;
    }
    .font_awesome{
        font-size:250%;
        display: inline-block;
        padding:0;
    }

    /* about page */
    .about-page{
        clear:both;
        width:100vw;
        margin:0 0;
    }
    .about-page h1{
        font-size:350%;
        text-align:center;
        color:#cccccc;
    }
    .about-page .content{
        background-color:#ffffff;
        margin-top:3em;
        /* padding:2em; */
        width:100vw;
        margin:0;
        clear:both;
    }
    .conditions span{
        display:inline-block;
        /* padding:1em; */
    }
    .info-type,.info-detail{
        display: inline-block;
        padding:1em;
    }
    .info-detail{
        font-size:150%;
    }
}